

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2d3c49;
}


.text-light {
  font-weight:100;
}

.text-muted {
  color: #7d97ad;
}
.img-responsive {
  margin: 0 auto;
  border-radius: 30px;
}
